@font-face
  font-family 'Pacifico'
  src url('/fonts/pacifico/pacifico-webfont.eot')
  src url('/fonts/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
      url('/fonts/pacifico/pacifico-webfont.svg#pacificoregular') format('svg'),
      url('/fonts/pacifico/pacifico-webfont.woff') format('woff'),
      url('/fonts/pacifico/pacifico-webfont.ttf') format('truetype')
  font-weight normal
  font-style normal
