.index-page

  .overlay
    display table
    width 100%
    height 100%
    z-index 600

  .content
    display table-cell
    vertical-align middle
    text-align center

  .headline
  .slogan
    line-height normal
    margin 0
    text-rendering optimizeLegibility
    -webkit-text-rendering optimizeLegibility

  .headline
    color rgba(40, 110, 195, 1)
    font-size 7em

  .slogan
    font-size 1.75em
    font-weight 300
    letter-spacing -1px
    margin-top 12px
    margin-left 20px

  .primary-actions
    margin-top 72px

  .secondary-action-anchor
    display inline-block
    margin-top 18px
    position relative
    left -2px

  .gallery-invitation
    position absolute
    bottom 48px - 4px /* Offset the gallery list padding */
    left 0
    right 0
    text-align center

  .gallery-invitation.hover
    .gallery-list-item
      opacity .35
    .gallery-text
      opacity 1

  .gallery-list
  .gallery-list-item
  .gallery-text
    transition all .4s

  .gallery-list
    background-color transparent
    border-radius 4px
    cursor pointer
    display inline-block
    list-style-type none
    margin 0
    position relative
    padding 0
    -webkit-mask-image -webkit-gradient(linear, left center, right center, from(rgba(0, 0, 0, .25)), color-stop(33.33%, rgba(0, 0, 0, 1)), color-stop(66.66%, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, .25)))
    transition all .4s
    .gallery-list-item
      float left
      background-color rgba(0, 0, 0, .15)
      background-position center center
      background-repeat no-repeat
      background-size cover
      border-radius 0
      display block
      margin-left 12px
      width 80px
      height 45px
      text-indent -99999px
      transition all .4s
      &:first-child
        margin-left 0

  .gallery-text
    font-weight 600
    display inline-block
    position absolute
    top 50%
    margin-top -(24px / 2)
    left 50%
    margin-left -(146px / 2)
    opacity 0
    padding 0 4px 4px 4px
    pointer-events none
    transition all .4s

  .dialog
    display inline-block
    position relative
    top -24px

    .dialog-form
      display inline-block
      max-width 386px

    .action
      margin-bottom 36px

    .main-error
      color rgba(245, 90, 90, 1)
      min-height 24px
      margin 24px 0

    .form-actions
      margin-top 48px

    .form-input
      background rgba(0, 0, 0, .1)
      background-clip padding-box
      border 3px solid rgba(0, 0, 0, .1)
      border-radius 5px
      margin 6px 0
      position relative
      &.parsley-error
        background-color rgba(245, 90, 90, .35)
        border-color rgba(245, 90, 90, .35)

    .icon-box
      background-position center center
      background-repeat no-repeat
      border-top-left-radius 3px
      border-bottom-left-radius 3px
      display block
      opacity .75
      position absolute
      top 0
      bottom 0
      left 0
      width 48px
      &.subject
        background-image url('/images/canvas-16.png')
      &.email
        background-image url('/images/envelope.png')
      &.username
        background-image url('/images/user.png')
      &.password
        background-image url('/images/lock.png')

    input[type="text"],
    input[type="password"]
      background-color white
      border 0
      border-radius 3px
      margin 0
      outline none
      padding 11px 16px
      padding-left 48px /* width of icon box */
      width 380px

    button[type="submit"]
      float right
      position relative
      right 4px

    .parsley-error-list
      background rgba(245, 90, 90, 1)
      border-radius 3px
      color white
      font-size (14 / 16)em
      list-style-type none
      margin 0
      max-width 300px
      padding 8px 12px
      text-align left
      position absolute
      right 0
      top 50%
      &:before
        content " "
        position absolute
        left -7px
        top 50%
        margin-top -8px
        width 0
        height 0
        border-top 8px solid transparent
        border-bottom 8px solid transparent
        border-right 8px solid rgba(245, 90, 90, 1)

    .submit-left
      position relative
      left 4px
      max-width 50%
      text-align left
      a
        display inline-block
        margin-bottom 4px
        &:last-child
          margin-bottom 0

