<template name="indexForgot">
  <div class="dialog">
    <div class="action primary-section-title">Reset Password</div>
    <div class="main-error"></div>
    <div class="dialog-main">
      <form method="POST" class="dialog-form forgot-form" action="/account/forgot">
        <p class="form-input">
          <input name="email_forgot" autocapitalize="off" autocorrect="off" tabindex="1" type="text" id="id_email_forgot" placeholder="Email Address" data-focus data-required="true" data-type="email" data-error-message="Valid email required.">
          <span class="icon-box email"></span>
        </p>
        <div class="form-actions group">
          <button type="submit" class="button button-gray" tabindex="2" data-loading-text="Resetting">Reset</button>
          <div class="submit-left">
            <a href="/account/login" class="traditional-link" rel="transition-content">Wait, nevermind</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>